name: Publish to npm

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: "Test without publishing (dry run)"
        required: false
        default: "false"
  push:
    tags:
      - "v*"
permissions:
  id-token: write
  contents: read
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - run: npm install -g npm@latest

      - name: Install dependencies
        run: npm install

      - name: Build the package
        run: npm run build

      - name: Publish to npm
        if: github.event.inputs.dry-run != 'true'
        run: npm publish --access public

      - name: Dry run (test)
        if: github.event.inputs.dry-run == 'true'
        run: npm publish --dry-run
